html * {
    font-family: arial;
}

input[type=text],
input[type=number] {
    width: 18vw;
}

th {
    text-align: left;
    font-size: 15px;
    ;
}

table th:first-child {
    padding-right: 15px;
}

form input[type=button] {
    margin-top: 20px;
    margin-left: 15px;
    padding: 10px;
    font-size: 14px;
}

p{
    margin: 2px;
}

#urlStats th{
    outline: 2px solid black;
    
}